@import "tailwindcss";

:root {
    --background: #302E2B;
    --foreground: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #302E2B;
        --foreground: #FFFFFF;
    }
}

body {
    background: var(--background);
    color: var(--foreground);
}

.highlight {
    position: absolute;
    top: 0;
    left: 0;
    height: 12.5%;
    width: 12.5%;
    background-color: #FFFF33;
    opacity: 0.5;
    z-index: 10;
}
